    /*---Menu--*/
    .menu {
        margin: 0;

        font-size: 1.4rem;

        list-style: none;
    }

    .menu__item--estilo {
        color: white;
        text-decoration: none;

        font-size: 1.8rem;

        line-height: normal;
    }

    .menu__item--estilo:hover, .menu__item--estilo:focus {
        transition: 0.05s;

        text-decoration: none;

        padding: 0.2em 0.4em;
        border-radius: 10px;
        color: white;
        box-shadow: 0 0 5px rgb(255, 0, 127),
                    0 0 25px rgb(255, 0, 127),
                    0 0 50px rgb(255, 0, 127),
                    0 0 100px rgb(255, 0, 127);
    }

    @media(max-width: 991px) {

        .menu {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
    
            display: none;
            width: 200px;
            padding: 20px;    
        }

        .menu--exibindo {
            display: block;
            background: rgba(0, 0, 0, 0.8);
        }

        .menu__item {
            display: block;

            line-height: 3;

        }

        .menu__item--botao {
            margin-top: 20px;
        }
    }

    @media(min-width: 991px) {

        .menu__item {
            display: inline-block;
            padding-right: 20px;
        }

        .menu__item:last-of-type {
            padding-right: 0px;
        }
    }


        /*---Navegacao--*/    
        .navegacao {
            color: white;
        }
    
        .navegacao--assinatura {
            text-align: center;
        }
    
        .navegacao__menu {
            float: right;
        }

            /*---Botao chaveador--*/
    .botao-chaveador {
        width: 20px;
        height: 20px;
        margin: 0;
        border: none;
        
        background-image: url(/imgs/bars-solid.svg);
        font-size: 2em;

        outline: none;
    }     

    .botao-chaveador:hover, .botao-chaveador:focus{
        transition: 0.2s;
        box-shadow: 0 0 5px rgb(255, 0, 127),
                    0 0 25px rgb(255, 0, 127),
                    0 0 50px rgb(255, 0, 127),
                    0 0 200px rgb(255, 0, 127);
                    color: white;
    }

    @media(min-width: 992px) {
        .botao-chaveador{
            display: none;
        }
    }

    /*-----Home----*/
    .home {
        font-size: 1.6rem;
        text-align: center;

    }

    .home__titulo {
        color: white;

        font-size: 3em;
        line-height: 0.9;
    }

    .home__subtitulo {
        margin: 60px 0px;

        color: white;

        font-size: 1.6em;
        line-height: 0.9;
    }

    @media(max-width: 991px){
        .home {
            padding-left: 10%;
            padding-right: 10%;

            font-size: 1.2rem;
        }
    }
    @media(max-width: 781px){
        .home {
            padding-left: 10%;
            padding-right: 10%;

            font-size: 1rem;
        }
    }

    

    .icones__color {
        margin-top: 20px;
        padding: 0.8em 5px;

        color: white;

        font-size: 2em;
    }

    .icones__color--contato{
        margin-top: 0px;
        padding: 0.2em 5px;

        color: white;
        font-size: 2em;
    }

    .icones__color:hover, .icones__color:focus {
        transition: 0.3s;

        padding: 0;

        box-shadow: 0 0 5px rgb(255, 0, 127),
                    0 0 25px rgb(255, 0, 127),
                    0 0 50px rgb(255, 0, 127),
                    0 0 200px rgb(255, 0, 127);
        color: white;

        font-size: 2.2em;
    }
    .icones__color--contato:hover, .icones__color--contato:focus {
        transition: 0.3s;
        background: transparent;

        box-shadow: 0 0 5px rgb(255, 0, 127),
                    0 0 15px rgb(255, 0, 127),
                    0 0 30px rgb(255, 0, 127),
                    0 0 300px rgb(255, 0, 127);
        color: rgb(255, 255, 255);

    }

    .botao {
        display: inline-block;
        padding: 0.8em 1.2em;

        border: 1px solid white;
        color: white;

        border-radius: 10px;

        line-height: normal;
        font-size: 1em;
        text-decoration: none;
    }

    .botao:hover, .botao:focus {
        background-color: black;
        box-shadow: 0 0 5px rgb(255, 0, 127),
                    0 0 25px rgb(255, 0, 127),
                    0 0 50px rgb(255, 0, 127),
                    0 0 100px rgb(255, 0, 127);
        color: white;

        transition: 0.2s;
        font-size: 1.1em;

        text-decoration: none;
    }

    /*---Cards Projetos---*/

    .projetos__titulo{
        padding-bottom: 30px;
        margin-top: 0;
        margin-bottom: 40px;
        text-align: center;

        color: white;

        font-size: 3.375em;
    }

    .projetos__titulo--paginas{
        margin-bottom: 0;
    }

    .layout-projetos .card {
        position: relative;
        width: auto;
        height: 45em;
        background-color: rgb(0, 0, 0);
        border-radius: 20px;
        overflow: hidden;

        font-size: 1em;

        margin-bottom: 20px;
        
    }
    
    .layout-projetos .card:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(255, 0, 127);
        clip-path: circle(150px at 80% 20%);
        transition: 0.5s ease-in-out;
    }
    .layout-projetos .layout-projetos--backend--change .card:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(0, 127, 255);
        clip-path: circle(150px at 80% 20%);
        transition: 0.5s ease-in-out;
    }
    .layout-projetos .layout-projetos--fullstack--change .card:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(57, 255, 20);
        clip-path: circle(150px at 80% 20%);
        transition: 0.5s ease-in-out;
    }
    .layout-projetos .layout-projetos--frontend--change .card:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(125,18,255);
        clip-path: circle(150px at 80% 20%);
        transition: 0.5s ease-in-out;
    }
    
    .layout-projetos .card:hover:before{
        clip-path: circle(300px at 80% -20%);
    }
    
    .layout-projetos .card:after{
        content: 'Fullstack';
        position: absolute;
        top: 30%;
        left: -15%;
        font-size: 9em;
        font-weight: 800;
        font-style: italic;
        color:  rgba(255, 255, 255, 0.2);
    
        transform: rotate(-10deg);
    }

    .layout-projetos--backend .card:after{
        content: 'Backend';
    }
    .layout-projetos--fullstack .card:after{
        content: 'Fullstack';
    }
    .layout-projetos--frontend .card:after{
        content: 'Frontend';
    }

    .layout-projetos--backend--change .card:after{
        content: 'Backend';
    }
    .layout-projetos--fullstack--change .card:after{
        content: 'Fullstack';
    }
    .layout-projetos--frontend--change .card:after{
        content: 'Frontend';
    }
    
    .layout-projetos .card .imgBx{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 100;
        width: 100%;
        height: 22em;
        transition: 0.5s;
    }
    
    .layout-projetos .card:hover .imgBx{
        top: 0%;
        transform: translateY(0%);
    }
    
    .layout-projetos .card .imgBx img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(-10deg);
        width: 27em;
    }
    
    .layout-projetos .card .contentBx{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10em;
        text-align: center;
        transition: 1s;
        z-index: 100;
    }
    
    .layout-projetos .card:hover .contentBx{
        height: 25.5em;
    }
    
    .layout-projetos .card .card__titulo{
        position: relative;
        font-weight: 700;
        letter-spacing: 1px;
        color: rgb(231, 228, 228);
    }
    
    .layout-projetos .card .card__subtitulo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 20px;
        transition: 0.5s;
        color: white;
        font-size: 1.4em;
        opacity: 0;
        visibility: hidden;
    }
    .layout-projetos .card .card__subtitulo--backend{
        color: rgb(0, 127, 255);
    }
    .layout-projetos .card .card__subtitulo--fullstack{
        color: rgb(57, 255, 20);
    }
    .layout-projetos .card .card__subtitulo--frontend{
        color: rgb(125,18,255);
    }

    .layout-projetos .card .card__descricao{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 20px;
        transition: 0.5s;
        color: #fff;
        font-size: 1.4em;
        opacity: 0;
        visibility: hidden;
    }

    @media(max-width: 991px){
        .layout-projetos .card .card__descricao {
            font-size: 1rem;
        }
    }
    @media(max-width: 781px){
        .layout-projetos .card .card__descricao {

            font-size: 1.4rem;
        }
    }
    @media(max-width: 400px){
        .layout-projetos .card .card__descricao {
            padding-left: 10%;
            padding-right: 10%;

            font-size: 1.2rem;
        }
    }
    
    .layout-projetos .card:hover .card__subtitulo{
        opacity: 1;
        visibility: visible;
    }
    .layout-projetos .card:hover .card__descricao{
        opacity: 1;
        visibility: visible;
    }

    .card__botao{
        display: inline-block;
        padding: 0.2em 2em;
        margin-bottom: 2px;

        background: transparent;
        color: white;
        border: 1px solid white;

        border-radius: 10px;

        line-height: normal;
        font-size: 1.4em;
        text-decoration: none;

        opacity: 0;
        visibility: hidden;
        
    }

    .layout-projetos .card:hover .card__botao{
        opacity: 1;
        visibility: visible;
    }

    .botao__home--paginas{
        display: inline-block;
        padding: 0.8em 1.2em;

        border: 1px solid white;
        color: white;

        border-radius: 10px;

        line-height: normal;
        font-size: 1.4em;
        text-decoration: none;
    }

    .card__botao:hover, .card__botao:focus {
        background-color: black;
        box-shadow: 0 0 5px rgb(255, 0, 127),
                    0 0 25px rgb(255, 0, 127),
                    0 0 50px rgb(255, 0, 127),
                    0 0 100px rgb(255, 0, 127);
        color: white;

        transition: 0.1s;
        font-size: 1.5em;

        text-decoration: none;
    }
    .card__botao--backend--change:hover, .card__botao--backend--change:focus {
        background-color: black;
        box-shadow: 0 0 5px rgb(0, 127, 255),
                    0 0 25px rgb(0, 127, 255),
                    0 0 50px rgb(0, 127, 255),
                    0 0 100px rgb(0, 127, 255);
        color: white;

        transition: 0.1s;
        font-size: 1.4em;

        text-decoration: none;
    }
    .card__botao--fullstack--change:hover, .card__botao--fullstack--change:focus {
        background-color: black;
        box-shadow: 0 0 5px rgb(57, 255, 20),
                    0 0 25px rgb(57, 255, 20),
                    0 0 50px rgb(57, 255, 20),
                    0 0 100px rgb(57, 255, 20);
        color: white;

        transition: 0.1s;
        font-size: 1.4em;

        text-decoration: none;
    }
    .card__botao--frontend--change:hover, .card__botao--frontend--change:focus {
        background-color: black;
        box-shadow: 0 0 5px rgb(125,18,255),
                    0 0 25px rgb(125,18,255),
                    0 0 50px rgb(125,18,255),
                    0 0 100px rgb(125,18,255);
        color: white;

        transition: 0.1s;
        font-size: 1.4em;

        text-decoration: none;
    }


    /*--Sobre mim--*/

    .sobremim{
        font-size: 1.6rem;
        text-align: center;
    }


    .sobremim__titulo{
        padding-bottom: 0px;
        margin-top: 0;
        margin-bottom: 40px;
        text-align: center;

        color: rgb(255, 0, 127);

        font-size: 2em;
    }

    .sobremim__texto{
        margin-bottom: 5px;
        text-align: center;

        color: white;

        font-size: 1.2em;
    }

    .sobremim__hardskills{
        padding-bottom: 0px;
        margin-top: 20px;
        margin-bottom: 12px;
        text-align: center;

        color: rgb(255, 0, 127);

        font-size: 1.8em;
    }

    .sobremim__softskills{
        padding-bottom: 0px;
        margin-top: 20px;
        margin-bottom: 12px;
        text-align: center;

        color: rgb(255, 0, 127);

        font-size: 1.8em;
    }

    .contato{
        font-size: 1.6rem;
        text-align: center;
    }

    .contato__titulo{
        padding-bottom: 0px;
        margin-top: 0;
        margin-bottom: 40px;
        text-align: center;

        color: rgb(255, 0, 127);

        font-weight: 600;
        font-size: 2em;
    }

    .contato__texto{
        margin-bottom: 5px;
        text-align: center;

        color: white;

        font-size: 1.2em;
    }

    /*--footer--*/

    .layout-rodape--backend{
        position: fixed;
        background: rgba(0, 0, 0, 0.8);
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;

        border-top: 0.5px solid rgb(0, 127, 255);
    }

    .layout-rodape--frontend{
        position: fixed;
        background: rgba(0, 0, 0, 0.8);
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;

        border-top: 0.5px solid rgb(125,18,255);
    }

    .layout-rodape--fullstack{
        position: fixed;
        background: rgba(0, 0, 0, 0.8);
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;

        border-top: 0.5px solid rgb(57, 255, 20);
    }

    /*--Preloader--*/

    .ring-container{
        background-image: url(/imgs/backgroundblocks.jpg);
        width: 100%;
        height: 100%;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 99999;
    }

    .ring{
        background-image: url(/imgs/backgroundblocks.jpg);
        width: 100px;
        height: 100px;
        border: 5px solid;
        color: #3498db;
        border-radius: 50%;
        border-top-color: transparent;
        animation: loader 1s linear infinite;
        z-index: 99999;
    }

    @keyframes loader{
        25%{
            color: rgb(57, 255, 20);
        }
        50%{
            color: rgb(125,18,255);
        }
        75%{
            color: rgb(0, 127, 255);
        }
        to{
            transform: rotate(360deg);
        }
    }

    .projetos__texto{
        font-size: 1.6rem;
        text-align: center;

        text-align: center;

        color: white;

        background: transparent;

        margin-bottom: 60px;
        padding: 5px;
        text-align: center;
        color: white;
    }


